<h1 class="state-title">Your favorite programs</h1>

  <div class="flex">
  <% @favorites.each do |favorite| %>
    <p><%= "#{favorite.program.name}"%><%= link_to "Check out archived episodes", "#{favorite.program.program_url}" %></p>
<% end %>
</div>
