<% @stations.each do |station| %>
  <div class="horizontal">
    <p><%= link_to "#{station.city} #{station.acronym}", state_station_programs_path(@state, station) %></p>
    <p><%= "Broadcasting to #{station.broadcast_area} at #{station.station}" %></p>
  </div>
