a:link{
  color: #813FEF;
}
a:visited{
  color: #813FEF;
}
a:hover{
  color: #FF9AC8;
}
a:focus{
  color: #813FEF;
}
a:active{
  color: #813FEF;
}

.intro {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  color: #C01644;
}



.content {
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

footer {
  margin-top: 30px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.mandolin {
  margin-top: 20px;
  background-image: url('mandolin.svg');
  height: 100px;
  width: 100px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-direction: row;
  justify-content: center;
}

.jam {
  text-align: center;
}

.form {
  text-align: center
}

input[type="checkbox"] {
  width: 40px;
}

input[type=submit] {
  font-size: 15px;
  height: 40px;
  padding: 10px;
  margin-top: 15px;
  background-color: #813FEF;
  border-color: #813FEF;
  color: white;
  font-weight: bold;
}

input {
  height: 25px;
  width: 200px;
  border-radius: 7px;
}

.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.devise-header {
  color: #006B54;
}

label {
  font-size: 20px;
}

.state-title {
  color: #006B54;
  text-align: center;
}

.comments {
  text-align: center;
}

.favorites {
  background-color: white;
  text-align: center;
  opacity: 0.7;
  border-radius: 20px;
}

.user-info {
  color: white;
  padding-top: 20px;
}

span {
 color: #006B54;
 font-weight: bold;
 }

body {
  background-image: url('Edmonton-Folk-Fest.jpg');
   background-attachment: fixed;
  font-family: 'Signika', sans-serif;
}

.notice {
  color: red;
  text-decoration: underline;
}

.alert {
  color: red;
  text-decoration: underline;
}

header {
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  color: #C01644;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a:link {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}

.state {
  font-size: 25px;
  border-radius: 8px;
  padding: 5px;
  border: 1px #813FEF solid;
  text-decoration: none;

}

.login a {
  color: white;
  font-size: 20px;
}

.login {
  padding-left: 20px;
  padding-top: 30px;
}

.body-text {
  font-size: 25px;
}

h1 {
  text-align: center;
}

a.fav {
  text-decoration: none;
  color: red;
}



a.no-fav {
  text-decoration: none;
  color: #813FEF;
}

.program-name {
  font-size: 25px;
  color: #490840;
  margin-top: 15px;
  margin-bottom: 15px
}

.body {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.air-time {
  text-align: center;
  font-size: 22px;
  color: #00A676;
}

.add-fave {
  padding-left: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 18px;
  list-style: none;
}

.user-info {
  padding-left: 25px;
}

.program-summary {
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  border: 1px #00A676 solid;
}

.link-out {
  text-align: center;
  font-size: 20px;
}

.favorites {
  color: red;
}

li {
  color: #03D6F7;
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  text-align: center;
  margin-bottom: 30px;
}

#add-it {
  color: yellow;
}

.add-station {
  text-align: center;
  font-size: 17px;
  border: 1px solid #006B54;
  display: inline;
  padding: 13px;
  border-radius: 10px;
  margin-bottom: 40px;
  color: white;
  background-color: #006B54;
}

.horizontal {
  padding: 10px 30px;
  font-size: 20px
}

/*devise form styling */

.devise-form {
  text-align: center
}
