<h2>Station Programs:</h2>
<p class="add-station"><%= "Know a #{@station.name} bluegrass or strings program and don't see it here? Feel free to" %> <%= link_to "add it!", new_state_station_program_path(@state, @station) %></p>
<% @station.programs.each do |program| %>
  <div>
    <h3 class="program=name"><%= link_to "#{program.name}", state_station_program_path(@state, @station, program)%></h3>
    <p><%=  "#{program.description}" %></p>

  </div>
<% end %>
