
<p class = "intro">  This site is for string lovers to discuss and search for regional public radio programs that are dedicated to folk, bluegrass and string music.<p>

<p class = "intro">As you browse, don't forget to favorite the programs you love - we'll save them to your Favorites page.</p>
<h1 class='state-title'>Choose Your State</h1>
  <div class="flex">
  <% @states.each do |state| %>

    <div class="state"><%= link_to "#{state.name}", state_path(state) %></div>

<% end %>
</div>
