<h1 class='state-title'><%= "#{@state.name} Folk and Bluegrass Stations" %></h1>
<div class="center">
</div>
<% @state.stations.each do |station| %>
  <div class="horizontal">
    <p><span><%= link_to "#{station.acronym}", "http://#{station.station_url}" %></span> <%="in #{station.city} - broadcasting to #{station.broadcast_area} at #{station.station}" %> <%= link_to "See all Programs", state_station_programs_path(@state, station) %></p>
  </div>
<% end %>
