.content {
  background-color: white;
  opacity: 0.7;
  margin: 50px;
  border-radius: 20px;
  padding: 20px;

}

.user-info {
  color: white;
  padding-top: 20px;
}

body {
  background-image: url('Edmonton-Folk-Fest.jpg');
  font-family: 'Signika', sans-serif;
}

header {
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  color: #C01644;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a:link {
    text-decoration: none;
    color: orange;

}

.state {
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  border: 1px #813FEF solid;
  text-decoration: none;
  background-color: #813FEF;

}

.login a {
  color: white;
  font-size: 20px;
}

.login {
  padding-left: 20px;
  padding-top: 30px;
}

.body-text {
  font-size: 25px;
}

h1 {
  text-align: center;
}

a.fav {
  text-decoration: none;
  color: red;
}

a.no-fav {
  text-decoration: none;
  color: black;
}
