.content {
  background-color: white;
  opacity: 0.8;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;

}

.jam {
  text-align: center;
}

.state-title {
  color: #006B54;

}

.favorites {
  background-color: white;
  opacity: 0.7;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;

}

.user-info {
  color: white;
  padding-top: 20px;
}

span {
 text-transform: uppercase;
 color: #006B54;
 font-weight: bold;
 }

body {
  background-image: url('Edmonton-Folk-Fest.jpg');
   background-attachment: fixed;
  font-family: 'Signika', sans-serif;
}

header {
  text-align: center;
  font-size: 40px;
  padding-top: 15px;
  color: #C01644;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a:link {
    text-decoration: none;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

.state {
  font-size: 30px;
  border-radius: 8px;
  padding: 5px;
  border: 1px #813FEF solid;
  text-decoration: none;
  color: white;

}

.login a {
  color: white;
  font-size: 20px;
}

.login {
  padding-left: 20px;
  padding-top: 30px;
}

.body-text {
  font-size: 25px;
}

h1 {
  text-align: center;
}

a.fav {
  text-decoration: none;
  color: red;
}

a.no-fav {
  text-decoration: none;
  color: black;
}

.program-name {
  font-size: 30px;
  color: #490840;
  margin-top: 15px;
  margin-bottom: 15px
}

.body {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px
}

.air-time {
  text-align: center;
  font-size: 22px;
  color: #00A676;
}

.add-fave {
  padding-left: 10px
}

.nav {
  display: flex;
  flex-decoration: row;
  text-align: center;
  font-size: 18px;
  list-style: none;

}


li {
  color: #03D6F7;
  padding left: 10px;
  padding-right: 10px;
}

.add-station {
  text-align: center;
  font-size: 17px;
}

.horizontal {
  padding: 0 20px;
  font-size: 20px
}
