<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <header>Folk, Bluegrass and Strings Collective</header>
    <%= yield %>
    </div>
  </body>
</html>
